%div.row.teetime
  %h1.header Set Up Your Teetime!
  %hr
  = simple_form_for @teetime do |f|
    = f.input :date, as: :datetime, :ampm => true
    = f.input :course
    = f.hidden_field :player1, :value => current_user.name
    = f.hidden_field :player2, :value => "OPEN"
    = f.hidden_field :player3, :value => "OPEN"
    = f.hidden_field :player4, :value => "OPEN"
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit "Make Teetime!", class: 'button expand maketeetime'
