!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "needafourth"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?key=AIzaSyAU4JU7LGSa-GuQLLx_8ORqRNUJcJTsb84&sensor=true"
    = csrf_meta_tags

  %body
  
    - if notice.present?
      .alert-box.success{ "data-alert" => "" }
        = notice
        %a.close{ href: "#" } &times;
    - if alert.present?
      .alert-box.alert{ "data-alert" => "" }

    = yield
    = javascript_include_tag "application"